<?xml version="1.0" encoding="UTF-8"?>

<web-app>
	<display-name>Ejemplos</display-name>
	<description>
		Uso de Servlets en diferentes ejemplos
	</description>
	<!-- con la etiqueta servlet-name indicamos el nombre que le daremos en el navegador al servlet, con servlet-class indicamos el nombre de la clase del servlet-->
	<servlet>
		<servlet-name>HolaMundo</servlet-name>
		<servlet-class>HolaMundo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ExtParam</servlet-name>
		<servlet-class>ExtParam</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RedireccionA</servlet-name>
		<servlet-class>RedireccionA</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RedireccionB</servlet-name>
		<servlet-class>RedireccionB</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Error</servlet-name>
		<servlet-class>Error</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Alcance</servlet-name>
		<servlet-class>Alcance</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Delegacion</servlet-name>
		<servlet-class>Delegacion</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DelegacionB</servlet-name>
		<servlet-class>DelegacionB</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DelegacionAttr</servlet-name>
		<servlet-class>DelegacionAttr</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AttrB</servlet-name>
		<servlet-class>AttrB</servlet-class>
	</servlet>
	<!--Con la etiqueta servlet-mapping indicamos que para llamar al servlet HolaMundo (esto se hace con <servlet-name>HolaMundo</servlet-name>) hay que hacerlo a través de un directorio virtual esto se hace con <url-pattern>/HolaMundo</url-pattern>)
	Hay que aclarar que el / Que se añade al HolaMundo es el como se añadira en la url
	en el HTML o JSP no debe ponerse-->
	<servlet-mapping>
		<servlet-name>HolaMundo</servlet-name>
		<url-pattern>/HolaMundo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExtParam</servlet-name>
		<url-pattern>/ExtParam</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RedireccionA</servlet-name>
		<url-pattern>/RedireccionA</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RedireccionB</servlet-name>
		<url-pattern>/RedireccionB</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Error</servlet-name>
		<url-pattern>/Error</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Alcance</servlet-name>
		<url-pattern>/Alcance</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Delegacion</servlet-name>
		<url-pattern>/Delegacion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DelegacionB</servlet-name>
		<url-pattern>/DelegacionB</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DelegacionAttr</servlet-name>
		<url-pattern>/DelegacionAttr</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AttrB</servlet-name>
		<url-pattern>/AttrB</url-pattern>
	</servlet-mapping>
</web-app>