<?xml version="1.0" encoding="UTF-8"?>

<web-app>
	<display-name>MVC-Uso</display-name>
	<description>
		Manejo de JSP y servlets para la implementacion del MVC
	</description>
	<!-- con la etiqueta servlet-name indicamos el nombre que le daremos en el navegador al servlet, con servlet-class indicamos el nombre de la clase del servlet-->
	<servlet>
		<servlet-name>LogSBD</servlet-name>
		<servlet-class>LogSBD</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HolaUsuario</servlet-name>
		<servlet-class>HolaUsuario</servlet-class>
	</servlet>
	<!--Con la etiqueta servlet-mapping indicamos que para llamar al servlet HolaMundo (esto se hace con <servlet-name>HolaMundo</servlet-name>) hay que hacerlo a través de un directorio virtual esto se hace con <url-pattern>/HolaMundo</url-pattern>)
	Hay que aclarar que el / Que se añade al HolaMundo es el como se añadira en la url
	en el HTML o JSP no debe ponerse-->
	<servlet-mapping>
		<servlet-name>LogSBD</servlet-name>
		<url-pattern>/LogSBD</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HolaUsuario</servlet-name>
		<url-pattern>/HolaUsuario</url-pattern>
	</servlet-mapping>
	<!--Aqui vamos a mapear los filtros que vayamos haciendo, la estructura es similar
	la declaracion de los servlets, las nuevas etiquetas son: <filter-name>,
	<filter-class>, <init-param>, <param-name>, <param-value> y <filter-mapping>
	colocados de la siguiente manera -->
	<filter>
		<filter-name>LogFilter</filter-name>
		<filter-class>LogFilter</filter-class>

		<init-param>
			<param-name>test-param</param-name>
			<param-value>Initialization Parameter</param-value>
		</init-param>
	</filter>
	<!-- Aqui comienza el mapeo de los filtros -->
	<!-- como nota adicional los filtros se aplicaran en el orden en que esten escritos de esta
	     seccion -->
	<filter-mapping>
		<filter-name>LogFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
</web-app>